body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

main {
  padding: 20px;
}

.profile {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
  padding: 0 200px;
  min-height: 100vh;
}

#profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

#name-id {
  font-size: 60px;
  margin: 0;
  wrap-text: wrap;
}
