/* GLOBAL */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0f2027;
  scroll-behavior: smooth;
}

/* NAV */
nav {
  width: 100%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding: 10px 0;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

/* ======== HERO ========= */
.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 60px;
}

.image {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  padding: 6px;
  background: #327a96ff;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: #000;
}

.profile-text h1 {
  font-size: 48px;
  margin: 0;
  line-height: 1.2;
}

.profile-text h2 {
  font-size: 28px;
  margin: 12px 0;
  color: #00f5ff;
}

.name {
  color: #00aeffff;
}

.desc {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  font-weight: 100;
}

.desc.profile {
  max-width: 600px;
  margin-top: 16px;
}
.cta {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.btn {
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn.porto {
  background: #00f5ff;
  color: #000;
  border: 2px solid #00f5ff;
}

.btn.porto:hover {
  border: 2px solid #00f5ff;
  background: transparent;
  color: #00f5ff;
}

.btn.contact {
  border: 2px solid #00f5ff;
  color: #00f5ff;
}

.btn.contact:hover {
  background: #00f5ff;
  color: #000;
}
/* ============================= */

/*======= title section ========*/
.title-section {
  background: rgba(13, 125, 129, 0.2);
  padding: 10px 15px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  width: fit-content;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  color: #00f5ff;
}
/* ============================= */

.desc-section {
  text-align: center;
  /* margin-top: 12px; */
  color: white;
  font-size: 35px;
  margin-bottom: 0;
}

/* PORTFOLIO */
.portfolio {
  margin: 0px
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.desc.porto {
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  max-width: 80%;
  font-size: 18px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 20px;
}

.card-box {
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  border: 1px solid gray;
}

.card-item {
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
}

.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card-item:hover img {
  transform: scale(1.1);
}

.card-title {
  background: rgba(103, 103, 103, 0.2);

  color: white;
  padding: 16px;
  border-radius: 0 0 16px 16px;
  text-align: center;
}
.card-name {
  margin: 0;
  font-size: 20px;
}

.card-desc {
  padding-top: 8px;
  font-size: 14px;
  color: #ccc;
  margin: 0 auto;
  line-height: 1.5;
}

.btn.card {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #00f5ff;
  border: 1px solid #00f5ff;
  cursor: pointer;
}

.btn.card:hover {
  background: rgba(0, 247, 255, 0.2);
  color: white;
}

/* ============================= */

/* ABOUT */
.abouts {
  margin: 60px 0;
  display: flex;
  align-items: center;
  color: white;
}
.desc.about {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  color: #ccc;
  font-size: 18px;
}

.tech-stack {
  margin-top: 40px;
}

.tech-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ffffff;
}

.tech-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.tech-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease, 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-card:hover {
  transform: translateY(-5px);
  background: rgba(0, 245, 255, 0.08);
}

.tech-card h4 {
  margin: 0 0 8px;
  color: #00f5ff;
  font-size: 16px;
}

.tech-card p {
  margin: 0;
  font-size: 15px;
  color: #e0e0e0;
  line-height: 1.5;
}

.tech-item {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 20px;
  margin-bottom: 12px;
}

#icons {
  font-size: 40px;
}

.tech-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* ============================= */

/* EXPERIENCE */
.experience {
  max-height: 100vh;
  margin: 60px 0;
  display: flex;
  align-items: center;
  color: white;
}
